/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbdadac7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://a.travel-assets.com/findyours-php/viewfinder/images/res40/27000/27723-Peyto-Lake.jpg'); /* Adicionando o fundo de plantas */
    background-size: cover; /* Para garantir que a imagem cubra todo o fundo */
    background-repeat: no-repeat; /* Para evitar que a imagem se repita */
}

/* Estilos para o cabeçalho */
header {
    background-color: #0000008c;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

/* Estilos para o título do cabeçalho */
header h1 {
    margin: 0;
}

/* Estilos para a seção principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens na direção principal (verticalmente) */
    margin: 20px;
    flex-grow: 1; /* Para preencher o espaço restante */
}

/* Estilos para a tabela do calendário */
#calendario table {
    width: auto; /* Alterado de 100% para auto para que a largura seja baseada no conteúdo */
    border-collapse: initial;
    margin-bottom: 10px; /* Espaçamento entre o calendário e o botão */
    background-color: #ffffffbb; /* Adicionando fundo branco */
}

#calendario th,
#calendario td {
    border: 1px solid #707070;
    padding: 40px; /* Reduzido o padding para ficar mais compacto */
    text-align: center;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para os botões */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Coloca os botões no final da página */
    margin-bottom: 20px; /* Espaçamento entre os botões e o rodapé */
}

button {
    --hover-shadows: 6px 6px 10px #00ccff, -6px -6px 10px #2387af;
    --accent: rgb(35, 84, 175);
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #0077ff5e;
    cursor: pointer;
    color: white;
    padding: 1em 2em;
    transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
}

button:hover {
    box-shadow: var(--hover-shadows);
}

button:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
}
/* Estilos para os dias com eventos */
.tem-evento {
    background-color: #00ccffc4; /* Cor de fundo para os dias com eventos */
  }
  
